<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-button (click)="irp2n()" expand="block" fill="clear" shape="round">
      NavController
    </ion-button>
    <ion-button (click)="irp2r()" expand="block" fill="clear" shape="round">
      Router
    </ion-button>
  </ion-item>

  <ion-button expand="block" (click)="llamarModal(true)">Open</ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="llamarModal(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem recusandae ducimus quos
          reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id illo sit cum qui. Eaque,
          dicta.
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-button (click)="llamarModalDos()" expand="block" fill="clear" shape="round">
    Modal
  </ion-button>
  <ion-button (click)="mostrarToast('Habla', 3000)" expand="block" fill="clear" shape="round">
    Toast
  </ion-button>
  <ion-list>
    <ion-list>
      <ion-radio-group [(ngModel)] = "opciones" (ionChange) = "verificarRadio()">
        <ion-list-header>
          <ion-label>Auto Manufacturers</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Amigos</ion-label>
          <ion-radio value="amigos" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Familia</ion-label>
          <ion-radio value="familia" ></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Conocidos</ion-label>
          <ion-radio value="conocidos" checked></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-list>
</ion-content>
